<div class="row mt-5 ml-3 mr-3">
  <div class="col-md-2 mr-auto">
    <%= link_to "Back", root_path(lang: params['lang']), class: "btn btn-primary" %>
  </div>
  <label for="select-language" class="col-md-1 col-form-label ml-auto">Language</label>
  <div class="col-md-2">
    <input type="hidden" id="hdn-language" value="<%= !params['lang'].blank? ? params['lang'] : 'en' %>"/>
    <select id="select-language" class="form-control">
      <option value="en">English</option>
      <option value="zh">Chinese</option>
      <option value="ja">Japanese</option>
    </select>
  </div>
</div>

<div class="row mb-5 ml-3 mr-3">
	<% @results.each do |result| %>
	<div class="col-md-3">
		<div class="card-body card-hotel">
			<input type="hidden" class="hotel-id" value="<%= result["id"] %>"/>
			<input type="hidden" class="hotel-name" value="<%= result["name"] %>"/>
			<input type="hidden" class="hotel-rating" value="<%= result["rating"] %>"/>
			<input type="hidden" class="hotel-stars" value="<%= result["stars"] %>"/>
			<input type="hidden" class="hotel-address" value="<%= result["address"] %>"/>
			<input type="hidden" class="hotel-photo" value="<%= result["photo"] %>"/>
			<input type="hidden" class="hotel-price" value="<%= '%.2f' % result['price'].to_i %>"/>
			<input type="hidden" class="hotel-description" value="<%= result["description"] %>"/>
			<div class="card-hotel-image">
				<%= image_tag result['photo'] %>
			</div>
			<div class="card-hotel-name">
				<%= result['name'].titleize %>
			</div>
			<div class="card-hotel-stars">
				<% (1..result['stars']).each do |i| %>
					<i class="fas fa-star text-warning"></i>
				<% end %>
				<% (1..5-result['stars']).each do |i| %>
					<i class="far fa-star text-warning"></i>
				<% end %>
			</div>
			<div class="card-hotel-address">
				<i class="fas fa-map-marker-alt text-danger"></i>
				<%= result['address'] %>
			</div>
      <div class="card-hotel-price">
        <i class="fas fa-dollar-sign text-success"></i>
        <%= '%.2f' % result['price'].to_i %>
      </div>
			<div class="card-hotel-rating">
				<i class="fas fa-thumbs-up text-primary"></i>
				<%= result['rating'] %>
			</div>
		</div>
	</div>
	<% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Hotel Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-4">
        		<img id="hotel-image" width="100%"/>
        	</div>
        	<div class="col-md-8">
        		<table>
              <tr valign="top">
                <td><b>Address</b></td>
                <td>:</td>
                <td><span id="hotel-address"></span></td>
              </tr>
              <tr>
                <td><b>Price</b></td>
                <td>:</td>
                <td>$ <span id="hotel-price"></span></td>
              </tr>
        			<tr>
        				<td><b>Rating</b></td>
        				<td>:</td>
        				<td><span id="hotel-rating"></span></td>
        			</tr>
        		</table>
        	</div>
        </div>
        <div class="row mt-3">
        	<div class="col-md-12">
        		<span id="hotel-description"></span>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>
</div>