<!DOCTYPE html>
<html>
  <head>
    <title>Hotels App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
